@model PersonalOutgoingsViewModel

<div class="d-flex justify-content-center">
    <table class="table" style="width: auto">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var outgoing in Model.PersonalOutgoings)
            {
                
                <tr>
                    <td>@outgoing.Description</td>
                    <td>@outgoing.Amount</td>                    
                    <td><button class="showEditOutgoingForm btn btn-primary" data-id="@outgoing.Id" type="button"><i class="fa-solid fa-pen-to-square"></i></button></td>
                    <td>
                        <form method="post">
                            <button class="btn btn-close" asp-controller="PersonalOutgoings" asp-action="DeletePersonalOutgoing" asp-route-id=@outgoing.Id asp-route-personId=@outgoing.PersonId type="submit" onclick="return confirm('Are you sure?')">                            </button>
                         </form>
                    </td>
                </tr>
                
            }
            <tr>
                <td><button class="showEditOutgoingForm btn btn-primary"><i class="fa-solid fa-plus"></i></button>   Add a new personal outgoing</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="addEditOutgoingsForm" data-personid = @Model.AddEditPersonalOutgoingsViewModel.PersonId>

</div>